# Core
flask==3.0.0
flask-socketio==5.3.5
python-socketio[client]==5.10.0
PyYAML==6.0.1

# Hardware
RPi.GPIO==0.7.1

# Camera
numpy>=1.21.0,<2.0
opencv-python>=4.5.0,<4.10.0
picamera2==0.3.12 

# LiDAR
rplidar-roboticia==0.9.5

# Audio
PyAudio==0.2.14
